.clients {
    padding-left: calc(50vw - 860px);
        padding-right: calc(50vw - 860px);
    margin-bottom: 60px;
    &__title {
        font-size: 14px;
line-height: 1.214;
letter-spacing: 1px;
text-transform: uppercase;
color: var(--title-clients-color);
text-align: center;
margin: 60px 0 30px 0;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 430px);
        grid-template-rows: repeat(3, 120px);
        list-style: none;
        margin: 0;
        padding: 0;
    }
    img {
        height: 120px;
    }
}
@media screen and (max-width: 1440px) {
    .clients {
        padding-left: calc(50vw - 720px);
        padding-right: calc(50vw - 720px);
        margin-bottom: 0;
        &__list {
            grid-template-columns: repeat(4, 360px);
        }
    }
}
@media screen and (max-width: 1024px) {
    .clients {
        padding-left: calc(50vw - 512px);
        padding-right: calc(50vw - 512px);
        margin-bottom: 0;
        &__list {
            grid-template-columns: repeat(4, 256px);
        }
    }
}
@media screen and (max-width: 768px) {
    .clients {
        padding-left: calc(50vw - 384px);
        padding-right: calc(50vw - 384px);
        margin-bottom: 0;
        &__list {
            grid-template-columns: repeat(3, 256px);
            grid-template-rows: repeat(4, 120px);
        }
    }
}

