.footer {
    background: var(--background-publ-color);
    padding-bottom: 30px;

    &__block {
        display: flex;
        justify-content: space-between;
    }

    .hl {
        border: 2px solid var(--marker-color);
        max-width: 1600px;
        margin-bottom: 30px;
    }

    &__address {
        display: flex;
        flex-direction: column;
        gap: 21px;
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__item-map::before,
    &__item-tel::before,
    &__item-tel::after {
        content: '';
        display: inline-block;
        border-radius: 50%;
        height: 6px;
        width: 6px;
        background-color: var(--title-offer-color);
        margin-right: 10px;
    }

    &__list {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__icon {
        height: 38px;
        width: 38px;
        fill: var(--arrow-title-color);
    }

    &__icon:hover,
    &__icon:focus {
        fill: var(--hover-color);
    }

    &__link {
        text-decoration: none;
        line-height: 1.25;
    }

    &__link.tel:hover,
    &__link.tel:focus {
        color: var(--arrow-title-color);
    }

    &__link.address:hover,
    &__link.address:focus {
        color: var(--arrow-title-color);
    }

    &__desc {
        line-height: 1.25;
        color: var(--title-offer-color);
        margin: 0;
    }

    .mail {
        font-weight: 700;
        color: var(--arrow-title-color);
    }

    .mail:hover,
    .mail:focus {
        color: var(--hover-color);
        text-decoration: none;
    }

    .map {
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: var(--arrow-title-color);
    }

    .map:hover,
    .map:focus {
        color: var(--hover-color);
        text-decoration: none;
    }

    .address {
        color: var(--title-clients-color);
        margin-right: 10px;
    }

    .tel {
        font-weight: 700;
        font-size: 16px;
        color: var(--tel-footer-color);
        margin-right: 10px;
    }

    .facebook {
        margin-right: 10px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        &__desc {
            width: 276px;
        }

        &__list {
            width: 398px;
        }
    }
}

@media screen and (max-width: 720px) {
    .footer {
        &__block {
            flex-direction: column;
            align-items: center;
        }

        &__list {
            flex-direction: column;
            gap: 10px;
            width: 315px;

        }

        &__address {
            margin-bottom: 30px;
            width: 315px;
        }

        &__desc {
            width: 315px;
            text-align: center;
        }

        &__item-map::before,
        &__item-tel::before,
        &__item-tel::after {
            content: '';
            display: none;
        }
    }
}