.offer {
    display: flex;
    align-items: center;
    padding-left: calc(50vw - 680px);
    padding-right: calc(50vw - 680px);
    padding-top: 60px;

    &__list {
        display: flex;
        flex-direction: column;
        text-align: end;
        gap: 30px;
        list-style: none;
        align-items: flex-end;
        margin: 0;
        padding: 0;
    }

    &__item:first-child {
        background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    &__link {
        text-decoration: none;
    }

    &__title {
        margin: 0;
        padding: 0;
        color: var(--title-offer-color);
        font-size: 36px;
        line-height: 1.21;
        white-space: nowrap;
    }

    &__title:hover,
    &__title:focus {
        color: var(--hover-color);
    }

    .vl {
        border: 3px solid var(--vl-color);
        height: 303px;
        margin-left: 60px;
        margin-right: 60px;
    }

    &__block-desc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__caption {
        font-size: 30px;
        line-height: 1.23;
        margin: 0 0 30px;
    }

    &__desc {
        font-size: 19px;
        line-height: 1.578;
        margin: 0;
    }
}

@media screen and (max-width: 1440px) {
    .offer {
        padding-left: calc(50vw - 540px);
        padding-right: calc(50vw - 540px);

        &__desc {
            max-width: 581px;
        }
    }
}

@media screen and (max-width: 1120px) {
    .offer {
        padding-left: calc(50vw - 480px);
        padding-right: calc(50vw - 480px);

        &__desc {
            max-width: 405px;
        }
    }
}

@media screen and (max-width: 990px) {
    .offer {
        padding-left: calc(50vw - 400px);
        padding-right: calc(50vw - 400px);
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;

        &__list {
            flex-direction: row;
            align-items: center;
            margin-bottom: 60px;
            overflow: scroll;
            max-width: 900px;
        }

        &__desc {
            max-width: 800px;
        }

        .vl {
            width: 800px;
            height: 4px;
            margin: 0 0 60px 0;
        }
    }
}

@media screen and (max-width: 860px) {
    .offer {
        padding-left: calc(50vw - 350px);
        padding-right: calc(50vw - 350px);

        .vl {
            width: 700px;
        }
    }
}

@media screen and (max-width: 768px) {
    .offer {
        padding-left: calc(50vw - 324px);
        padding-right: calc(50vw - 324px);

        .vl {
            width: 648px;
        }
    }
}

@media screen and (max-width: 695px) {
    .offer {
        padding-left: calc(50vw - 250px);
        padding-right: calc(50vw - 250px);

        .vl {
            width: 500px;
        }
    }
}

@media screen and (max-width: 550px) {
    .offer {
        padding-left: calc(50vw - 157px);
        padding-right: calc(50vw - 157px);

        .vl {
            width: 315px;
        }

        &__caption {
            font-size: 24px;
        }

        &__list {
            margin-bottom: 30px;
        }

        &__title {
            font-size: 30px;
        }

        .vl {
            margin: 0 0 30px 0;
        }
    }
}