.services {
    padding-top: 60px;
    padding-bottom: 60px;

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
        margin-top: 60px;
    }

    &__caption:hover,
    &__caption:focus {
        color: var(--hover-color);
    }

    &__caption {
        font-size: 22px;
        line-height: 1.227;
        color: var(--arrow-title-color);
        margin: 30px 0 15px 0;
    }

    &__text {
        line-height: 1.625;
        margin: 0;
    }

    a {
        text-decoration: none;
    }
}

@media screen and (max-width: 860px) {
    .services {
        &__container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width: 550px) {
    .services {
        &__container {
            grid-template-columns: 1fr;
        }
    }
}