:root {
    --main-text-color: #fff;
    --hover-color: #F0145A;
    --marker-color: #E6E6F0;
    --title-offer-color: #B3B3BA;
    --arrow-title-color: #24A3FF;
    --title-clients-color: #323264;
    --background-publ-color: #F5F5FA;
    --text-color: #000000;
    --tel-footer-color: #46466E;
    --vl-color: rgba(255, 255, 255, 0.3);
}